
@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area bg--white-6 pt--60 pb--70 pt-lg--40 pb-lg--50 pt-md--30 pb-md--40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Kurumsal</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="current"><span>Kurumsal</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrapper my-5 py-5">
    <div id="content" class="main-content-wrapper">
        <div class="container">
            @Html.Raw(CorporateSession.Corporate.AboutText)
        </div>
    </div>
</div>