<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    @RenderSection("Style",false)
</head>
<body>
    <div>
        @await Component.InvokeAsync("Navbar")
        @RenderBody()
    </div>

    <script src="~/assets/js/vendor/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script>
        $('#btnChangePassword').click(function () {
            $('#errorMessage').html("");
            $('#successMessage').html("");
            $.ajax({
                url: '/sifre-degis',
                type: 'post',
                dataType: 'json',
                data: { currentPassword: $('#currentPassword').val(), password: $('#password').val(), confirmPassword: $('#confirmPassword').val() },
                success: function (res) {
                    if (res.status) {
                        $('#successMessage').html(res.message);
                        $('#currentPassword').val("");
                        $('#password').val("");
                        $('#confirmPassword').val("");
                    }
                    else {
                        $('#errorMessage').html(res.message);
                    }
                }
            })
        })

        $('#btnEdit').click(function (e) {
            e.preventDefault();
            if (confirm("Değişiklikleri kaydetmek istediğinize emin misiniz?")) {
                $('#frmEdit').submit();
            }
        })

        function DeleteProduct(id) {
            if (confirm("Ürünü kalıcı olarak silmek istediğinize emin misiniz?")) {
                $.ajax({
                    url: '/delete-product',
                    type: 'post',
                    dataType: 'json',
                    data: { pid: id },
                    success: function (res) {
                        if (res) {
                            $('#product-' + id).remove();
                        }
                    }
                })
            }
        }
    </script>
    @RenderSection("Javascript", false)
</body>
</html>
